/** 
Font Families: 

HEADERS: 
font-family: 'Gagalin', sans-serif;
font-family: 'Courier Prime', monospace;

BODY: 
font-family: 'Montserrat', sans-serif;
**/



h1 {
    font-family: 'Gagalin';
    margin-left: 20px;
}

h3 {
    font-family: 'Courier Prime';
}

p {
    font-family: 'Montserrat';
    margin-left: 20px;
}

.image {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}